.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  display: flex;
  width: 100%;
}

.save-button {
  width: 100%;
  justify-content: flex-end;
}

.header-background {
  width: 100%;
}

img {
  max-width: 100%;
}

.user-inputs {
  display: flex;
  flex-direction: column;
}

.user-notes {
  display: flex;
  flex-direction: column;
}

.entries-header {
  justify-content: space-between;
  align-items: center;
}

.entry-text {
  display: flex;
  flex-direction: column;
}

.header-content {
  display: flex;
  align-items: center;
}

@media screen and (width >= 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
