body {
  background-color: #eee;
}

.container {
  margin: 0 auto;
  padding: 0 1.5rem;
}

.column-full,
.column-half {
  padding: 0 0.75rem;
}

input {
  margin: 1rem 0 2rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  border: 0.1rem solid #aeaeaf;
}

textarea {
  height: 8rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
  border: 0.1rem solid #aeaeaf;
}

img {
  margin-bottom: 0.3rem;
  border-radius: 0.35rem;
}

.button {
  color: #fff;
  background-color: #4c2676;
  margin: 0.75rem;
  border-radius: 0.3rem;
  border: 0.1rem default #686b6b;
  padding: 0.5rem;
}

.header {
  margin: 0;
  padding: 2rem 0;
  color: #fff;
}

.header-background {
  background-color: #4c2676;
}

.entry-header {
  padding-left: 0.75rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.entries-anchor {
  color: #fff;
  font-size: 1.3rem;
  padding: 1.15rem;
}

.entries-header {
  padding: 0.75rem;
}

.new-entry-button {
  font-family: serif;
  font-size: 1rem;
  color: #fff;
  background-color: #4c2676;
  height: 2.25rem;
  width: 4.5rem;
  border-radius: 0.3rem;
  border: 0.1rem none #686b6b;
}

.entry-text p {
  margin: 0 0 1rem;
  word-wrap: break-word;
}

.new-entry-button:hover {
  cursor: pointer;
}

.entries-anchor:hover {
  cursor: pointer;
}
